html
{
    font-size: 16px; 
    /* html 폰트 크기 지정시 기본 rem 단위 수정가능*/
}

* {
    margin:0px;
    padding:0px;
    /* 부모요소에 색상 적용시 자식에 자동 색상 상속시키기 위함 */
    color: inherit;
    font-family: "Noto Sans KR";
    text-align: center;

}

a
{
    font-family: inherit;
}

ul, ol 
{
    list-style: none;
}

a
{
    text-decoration:none;
}

img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* cover: 이미지가 짤릴지언정 꽉차게, contain: 여백이 생길지언정 꽉차게 */
}

/* 
margin : 0px auto; 블록요소 자체를 가운데 배치
text-align : center; 블록요소 안쪽의 인라인요소를 가운데 배치
*/
