@import "reset.css";

/*
서식 관련 구문
font-weight: normal / bold;
font-style: normal / italic;
font-size: 14px / 1rem / 1vw / 1vh;
line-height: 1.5;
font-family: 'arial';
color: pink;

시스템 폰트: 특정 OS에 기본적으로 내장된 폰트
한글: "돋움", "굴림"
영어: "arial", "san-serif", "verdana"

대체폰트
font-family속서에 복수개 이상의 폰트를 적용
첫번째 적용 불가시, 다음 폰트 적용

*/

/*
렌더링 동작 방식
- html태그를 해석해서 DOM생성 (Document Object Model)
- css를 해석해서 CSSDOM 생성
- 위의 객체가 생성되기 전까지는 화면렌더링 블록됨

구글 웹폰트를 <link>방식으로 연결하는게 좋은 이유
- DOM생성시 서버에서 폰트를 사전에 미리 다운로드
- 많은 웹폰트 연결로 인해 화면 렌더링 지연을 최소화 가능
- layout shifting 방지 가능 (컨텐츠의 재구성으로 높이값이 어긋나 덜컹거리는 현상)
- link방식은 한번 다운로드 받은 폰트의 캐싱처리로 인해 layout shifting최소화
*/

body {
    padding: 100px;
    background-color: gray;
  }
  div {
    width: 600px;
    background-color: white;
    padding: 50px;
    margin: 0px auto;
    border-radius: 10px;
    text-align: center;
  }
  
  /*header*/
  header {
    margin-bottom: 20px;
  }
  header h1 {
    font-family: "orbitron";
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
  }
  
  header nav a {
    font: 500 0.8rem/1 "orbitron";
    letter-spacing: 1px;
    margin-right: 30px;
  }
  
  /* main */
  main {
    margin-bottom: 40px;
  }
  main h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  main figure {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-bottom: 30px;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom: 50px;
    background-color: hotpink;
  }
  main figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }
  main figure img:hover {
    transform: scale(1.5);
    opacity: 0.5;
  }
  main p {
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
  }
  main a {
    background-color: black;
    font-weight: bold;
    font-size: 0.7rem;
    color: white;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    transition: 0.5s;
  }
  main a:hover {
    width: 150px;
    background-color: hotpink;
  }
  
  /* footer */
  footer {
    border-top: 1px solid black;
    padding: 20px 0px;
  }
  footer ul {
    font-size: 1.2rem;
    text-align: right;
  }
  footer ul li {
    display: inline-block;
    transition: 0.5s;
  }
  footer ul li:hover {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  footer p {
    font-size: 0.8rem;
    text-align: right;
  }

/*
요소명:hover (가상선택자)
- 요소에 마우스를 올렸을때 변경되는 구문을 설정

투명도 설정
opacity: 0.5; (반투명 처리 0~1)

전환효과 설정
- transition: 0.5s; (0.5초 동안 변경구문에 대한 전환모션 적용)
- 주의점 : hover문이 아닌 원본 요소에 적용

요소 변형 효과
transform: translateX(10px); 10px만큼 가로로 이동
transform: translateY(10px); 10px만큼 세로로 이동
transform: rotate(45deg); 45도 만큼 회전
transform: scale(1.5); 1.5배 만큼 확대
transform: skewX(35deg); 35도 만큼 가로로 비틀기

주의: 요소변형은 block이나 inline-block요소에만 적용됨
*/

/* 
정렬 기능 (text-align) 
-블록요소에 정렬기능 지정
-블록요소 안쪽에 있는 인라인 요소들이 정렬됨
-left, center, right, justify 
-justify는 단어사이의 간격을 조절해서 양쪽을 맞추는 방식
*/

/* rem 단위의 개념
-웹에서 텍스트 크기 지정할때 주로 쓰이는 단어
- 1rem = 16px
*/